@font-face {
  font-family: harry;
  src: url("../fonts/HARRY.TTF");
}

body {
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3 {
  font-family: harry, serif;
}

.container {
  max-width: 990px;
  margin: 0 auto;
  height: auto;
}
