#header-house {
  background-color: #1a471a;
  padding: 40px 0 20px 0;
}

#header-house .head-tittle {
  font-size: 72px;
  letter-spacing: 3px;
  color: #aaa;
  text-align: center;
}

#header-house .submenu {
  display: flex;
  align-items: center;
  margin-top: 40px;
}

#header-house .submenu .submenu-item {
  font-size: 14px;
  color: #aaa;
  padding: 15px;
  text-transform: uppercase;
}

#header-house .submenu .submenu-item a {
  color: #aaa;
}

#header-house .submenu .submenu-item #home:hover {
  color: #4bb56e;
  border-bottom: 1px solid #4bb56e;
  border-left: 1px solid #4bb56e;
  padding: 0 0 5px 5px;
  border-radius: 2px;
}

#header-house .submenu .submenu-item .page:hover {
  color: #4bb56e;
  border-bottom: 1px solid #4bb56e;
  border-right: 1px solid #4bb56e;
  padding: 0px 5px 0px 5px;
  border-radius: 2px;
}

#main .background-1 {
  background-color: #aaa;
  padding: 60px 0;
}

#main .flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 5px solid #2a623d;
  padding: 10px;
}

#main .flex img {
  max-width: 20%;
  flex: 1;
}

#main .flex .info-house {
  font-size: 18px;
  line-height: 36px;
  color: #1d1d1d;
  flex: 2;
  margin-left: 30px;
}

#main .desc-house {
  margin: 50px 0;
  font-size: 16px;
  line-height: 24px;
  color: #1d1d1d;
}

#main .desc-house a {
  color: #1d1d1d;
  font-weight: 600;
}

#main .desc-house a:hover {
  color: #1a471a;
}

#main .desc-house .desc-images {
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
}

#main .desc-house .desc-images img {
  max-width: 30%;
  border: 5px solid #0e270e;
}

#main .background-2 {
  background-color: #2a623d;
  padding: 60px 0;
}

#main .curiosities .curiosities-tittle {
  display: inline-block;
  font-size: 36px;
  letter-spacing: 1px;
  margin-bottom: 30px;
  color: #aaa;
}

#main .curiosities .curiosities-list-item {
  display: flex;
  justify-content: center;
  align-items: baseline;
  font-size: 16px;
  line-height: 24px;
}

#main .curiosities .curiosities-list-item i {
  margin-right: 15px;
  color: #aaa;
}

#main .background-3 {
  background-image: url(../jpg/expresso-hogwarts.jpeg);
  background-position: center;
  background-size: cover;
  padding: 100px 0;
  opacity: 0.9;
}

#main .call-action .call-action-text {
  color: #f2f2f2;
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 60px;
  width: 300px;
}

#main .call-action a {
  padding: 10px 30px;
  border: 1px solid #f2f2f2;
  text-transform: uppercase;
  font-size: 18px;
  color: #f2f2f2;
}

#main .call-action a:hover {
  background-color: #1a471a;
  color: #aaa;
  padding: 15px 35px;
}

#footer {
  padding: 50px 0;
  background: linear-gradient(
    to right,
    #a30001 25%,
    #ffdb00 25% 50%,
    #2a623d 50% 75%,
    #222f5b 75% 100%
  );
}

#footer .copy {
  text-align: center;
  font-size: 18px;
  color: #030303;
}
